.carousel-caption { top: 14rem; }
#carouselExampleCaptions h5 { font-size: 3rem; }
.carousel-item img { height: 50rem; }

/*
vista mobile template home
*/
@media (max-width: 768px) {
    /*slider*/
    .carousel-item img { height: 15rem; }

    /*texto de slider*/
    .carousel-caption { top: 0rem; display: block !important; }/*altura del texto*/
    #carouselExampleCaptions h5 { font-size: 1rem; }
    #carouselExampleCaptions p { font-size: 0.7rem; }
}